<div class="container">
  <h4 class='text-center'>Welcome to the home page.</h4>
</div>

<div class='container border' style='border-radius: 5px; max-width: 75%;'>
  <p class='py-3 border-bottom text-center'>{{now}}</p>
  <p class='border-bottom pb-2'>Full Name: <span style='color: blue;'>{{firstName}} {{lastName}}</span></p>
</div>