<div class="container">
  <h3 class='text-center'>Enter you short story below</h3>
  <form method='POST' action='/page6.html'>
    <textarea class='form-control' style='min-width: 80%' name='story'></textarea>
    <button type="submit" class="btn btn-primary btn-lg mt-3">Submit</button>
  </form>
</div>