<div class='container well well-lg text-center bg-success'>
  <h1>SIMPLE FORM</h1>
  <div class='bg-info well well-md'>
    <h3>Hello {{firstName}} {{lastName}}</h3>
  </div>
  <div class="well well-md bg-info">
    <h3>You ride a {{vehicle}}</h3>
  </div>
</div>