<div style="border-radius: 5px;" class='container well well-lg text-center alert alert-success' role='alert'>
  <h1>SIMPLE FORM</h1>
  <div class='well well-md bg-light border p-3' style="border-radius: 5px;">
    <h3>Hello {{firstName}} {{lastName}}</h3>
  </div>
  <div class="well well-md bg-light border p-3 mb-3" style="border-radius: 5px;">
    <h3>You ride a {{vehicle}}</h3>
  </div>
</div>