<div class='container'>
  <div class="well well-lg bg-light border pt-2">
    <h3 class='text-center'>Enter your short story below</h3>
    <div class='container'>
      <form method='POST' action='/page6.html'>
        <textarea class='form-control mx-center' name='story'></textarea>
        <button type="submit" class="btn btn-primary btn-lg my-3">Submit</button>
      </form>
    </div>
  </div>
</div>